<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.muhammadv2.going_somewhere">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_ZLQO3YBMItwIiTfG1xeex4S1O7LMhkI" />

        <activity
            android:name=".ui.trips.TripsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.trips.addTrip.AddTripActivity"
            android:parentActivityName=".ui.trips.TripsActivity"
            android:theme="@style/AddTripTheme" />
        <activity
            android:name=".ui.tripDetails.TripDetailsActivity"
            android:clearTaskOnLaunch="true"
            android:parentActivityName=".ui.trips.TripsActivity" />
        <activity android:name="com.google.android.gms.ads.AdActivity" />

        <receiver android:name=".ui.widget.TripWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/trip_widget_info" />
        </receiver>

        <provider
            android:name=".model.data.TravelsProvider"
            android:authorities="com.muhammadv2.going_somewhere"
            android:exported="false" />
    </application>

</manifest>